* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 125rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  margin-bottom: 6rem;
}

.nav-logo {
  gap: 1.5rem;
  font-size: 3rem;
}

.nav-links {
  gap: 5rem;
}

.nav-link > a {
  font-size: 1.4rem;
  color: #3d3d3f;
}

.nav-link > a:hover {
  color: #f35f2f;
}

.nav-btn {
  border: none;
  width: 12rem;
  height: 4rem;
  background-color: #f35f2f;
  font-size: 1.4rem;
  color: #ffffff;
}

.nav-btn:hover {
  cursor: pointer;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6rem;
}

.hero-text > h2 {
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 8.5rem;
  margin-bottom: 3rem;
}

.hero-text > p {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 3rem;
}

.hero-text > button {
  width: 21rem;
  height: 5.5rem;
  background-color: #f35f2f;
  color: #fff;
  font-size: 2rem;
  border: none;
}

.hero-text > button:hover {
  cursor: pointer;
}

#services {
  margin-bottom: 4rem;
}

#services > h3 {
  font-size: 4rem;
  color: #3d3d3f;
  text-align: center;
  margin-bottom: 6rem;
}

.services-wrapper {
  border: 2px solid #ebebebcc;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.service-item > h4 {
  font-size: 3.6rem;
}

.service-item > div {
  font-size: 2.4rem;
  color: #3d3d3f;
}

#offers > h3 {
  font-size: 4rem;
  color: #3d3d3f;
  text-align: center;
  margin-bottom: 6rem;
}

.offers-wrapper {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.offer {
  position: relative;
  padding: 3rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
}

.offer-logo {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f35f2f;
}

.offer-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.offer > p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.offer > #arrow {
  width: 4.2rem;
  height: 4.2rem;
  margin: 2rem auto;
  background-color: #f1f1f5;
  border-radius: 50%;
}

.offer > #arrow:hover {
  background-color: #f35f2f;
}

.projects {
  position: relative;
}

#projects > h3 {
  font-size: 4rem;
  line-height: 5.2rem;
  text-align: center;
  margin: 4rem 0;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.project > div {
  font-size: 2rem;
  text-align: center;
}
